.form-title {
  padding: 10px 0;
}

.form-title p {
  font-size: 20px;
  font-weight: bold;
}

.form-box {
  padding: 10px 0;
  font-size: 16px;
  display: inline-block;
}
.form-box:nth-child(1),.form-box:nth-child(5) {
  width: 100%;
}

.form-label {
  font-weight: bold;
}

textarea,
input,
select,
option {
  width: 100%;
  font-size: 16px;
}

#estimation,
#actual,
#progress {
  display: inline-block;
  width: 30%;
  margin-right: 5%;
}

#client {
  width: 100%;
}