.form-title p{
    font-size: 20px;
    font-weight: bold;
}

.form-box{
    padding:10px 10px;
    font-size: 16px;
}

.form-label{
    font-weight: bold;
}

textarea, input ,select, option{
    width: 100%;
    font-size: 16px;
}


/* テーブルレイアウト調整用CSS */
table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
  }
  
  th,
  td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #f2f2f2;
  }


  #client-buttons {
    display: flex;
    align-items: center;
  }
  
  #client-buttons button {
    font-weight: bold;
    line-height: 1.5;
    margin: 10px 10px 10px 0;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #e0e0e0;
  }
  
  #client-buttons button:last-child {
    margin-right: 0;
  }
  
  #client-buttons button.active {
    background-color: #555555;
    color: #ffffff;
  }



  /* 6列目を非表示 */
td:nth-child(6), th:nth-child(6) {
  display: none;
}

@media screen and (max-width: 680px) {
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  tr {
    display: inline-block;
    vertical-align: top;
    width: 100%;
  }
  td,
  th {
    display: block;
    text-align: left;
    width: 100%;
  }
  th:nth-child(1) {
    width: 100%;
  }
  th:nth-child(n+2):nth-child(-n+5) {
    width: 25%;
  }
  th:nth-child(6),
  th:nth-child(7) {
    display: none;
  }
  td:nth-child(1)td:nth-child(5)  {
    width: 100%;
  }
  td:nth-child(2):nth-child(3):nth-child(4):nth-child(7) {
    width: 25%;
  }
}