.form-title {
  padding: 10px 0;
}

.form-title p {
  font-size: 20px;
  font-weight: bold;
}

.form-box {
  padding: 10px 0;
  font-size: 16px;
  display: inline-block;
  width: calc(100% / 3);
  vertical-align: top; /* 追加 */
}

.form-box:nth-child(2), .form-box:nth-child(6) {
  width: 100%;
}

.form-label {
  font-weight: bold;
  display: inline-block; /* 追加 */
  width: 30%; /* 追加 */
  margin-right: 5%; /* 追加 */
  text-align: right; /* 追加 */
}

textarea,
input,
select,
option {
  width: 100%;
  font-size: 16px;
}

#taskDetail {
  height: 85px;
  resize: vertical;
}