            /* ーーーーーーーーーーーーーーーーーーーーーーーーーーー */
            /* プログレスバー */
            /* ーーーーーーーーーーーーーーーーーーーーーーーーーーー */
            /* #region */
            .progressbar {
                position: relative;
                margin: 0;
                padding: 0;
                display: none;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            .progressbar li {
                position: relative;
                list-style-type: none;
                text-align: center;
                text-transform: uppercase;
                width: 20%;
                font-weight: 600;
                counter-increment: steps;
                line-height: 20px;
            }

            .progressbar li:before {
                display: block;
                width: 26px;
                height: 26px;
                margin: 7px auto 16px auto;
                line-height: 26px;
                font-size: 14px;
                text-align: center;
                border-radius: 50%;
                background-color: #F1F1F1;
                content: counter(steps);
            }

            .progressbar li:after {
                position: absolute;
                z-index: -1;
                top: 15px;
                left: -50%;
                width: 100%;
                height: 2px;
                content: '';
                background-color: #F5F5F5;
            }

            .progressbar li:first-child:after {
                content: none;
            }

            .progressbar li.active, .progressbar li.complete {
                color: #0070BD;
            }

            .progressbar li.active:before, .progressbar li.complete:before {
                background-color: #17837c;
                color: #FFF;
            }

            .progressbar li.active:after, .progressbar li.complete:after {
                background-color: #17837c;
            }

            /* 装飾 */
            ul {
                margin: 0px 0 20px 0 !important;
            }