*{
    font-size:0.9rem;
}


h1{
    font-size:1.5rem;
}

.projectTableHeader{
    display:flex;  
    flex-wrap:wrap;
}

.projectTableHeader .selectedClient{
    width:150px;
}
.projectTableHeader .clientCreateWrapper button{
    width:150px;
    margin-left:10px;
}
.projectTableHeader .clientCreateForm{
    width:150px;

}
.projectTableHeader .projectCreateWrapper button{
    width:150px;
    margin-left:10px;
}


.project{
    display: flex;
    border:solid;
    border-bottom:0;
}

.project:last-child{
    border:solid;
}

/* プロジェクトエリアのスタイル */
.projectArea{
    padding:5px 10px;
    border-right:solid;
}

.projectArea span{
    display:inline-block;
    width:100%;
}
.projectName{
    font-weight:bold;
}


hr{
    height:1px;
    background:black;
    border:none}

/* ログエリアのスタイル */
.logArea{
    padding:5px 10px;
}

.logHeader button{
    display:inline-block;
    margin-left:20px;
    font-size:10px;
}
.logCreateWrapper button{

    font-size:10px;
}



form input{
    height:20px;
    padding:2px;
    margin-top:10px;
}
form select{
    height:20px;
    padding:2px;
    margin-top:10px;
    box-sizing:content-box;
}
.f_project{
    width:300px;
}

.f_date{
    width:110px;
}

.f_工数{
    width:50px
}
.f_工数目安{
    width:50px
}

.f_場所{
    width:150px;
}
.f_status{
    width:150px;
}
.f_done, .f_next{
    width:100%;
    margin-top:8px;
    margin-bottom:0;
}
.f_client{
    width:150px;
}

.logUpdateForm, .logCreateForm {
    display: none;
}