*{
    font-size:0.9rem;
}

.project{
    display: flex;
    border:solid;
    border-bottom:0;
}

.project:last-child{
    border:solid;
}

/* プロジェクトエリアのスタイル */
.projectArea{
    padding:5px 10px;
    border-right:solid;
}

.projectArea span{
    display:inline-block;
    width:100%;
}
.projectName{
    font-weight:bold;
}


hr{
    height:1px;
    background:black;
    border:none}

/* ログエリアのスタイル */
.logArea{
    padding:5px 10px;
}

.logHeader button{
    display:inline-block;
    margin-left:20px;
    font-size:10px;
}
.logCreateWrapper button{

    font-size:10px;
}



form input{
    height:20px;
    padding:2px;
    margin-top:10px;
}

.f_date{
    width:110px;
}

.f_工数{
    width:50px
}

.f_場所{
    width:150px;
}
.f_done, .f_next{
    width:100%;
    margin-top:8px;
    margin-bottom:0;
}

.logUpdateForm, .logCreateForm {
    display: none;
}