/* テーブルレイアウト調整用CSS */
table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
  }
  
  th,
  td {
    padding: 5px 8px;
    border: 1px solid #ccc;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #f2f2f2;
  }


  button {
    width: 100%;
    border-radius: 3px;
    padding: 2px 8px;
    font-size: 14px;
  }
  
  #schedule-table td:nth-child(2), table td:nth-child(5) {
    width: 100px;
  }

  /* ここから依頼ボタン */
  /* 勤務不可 */
  .request-not-possible {
    border: 1px solid #777;
    background-color: #fff;
    color: #777;
  }
  /* 勤務確定 */
  .confirmed {
    border: 1px solid #4caf50;
    background-color: #fff;
    color: #4caf50;
  }

  /* 依頼ボタン */
  .modify,
  .request {
    border: none;
    background-color: #17837C;
    color: #fff;
    cursor: pointer;
  }


  /* 勤務不可 */
  .unavailable {
    border: none;
    background-color: #777;
    color: #fff;
  }

  .adjusting {
    border: 1px solid #17837C;
    background-color: transparent;
    color: #17837C;
  }
  
  .partially-available,
  .available {
    border: none;
    background-color: #17837C;
    color: #fff;
  }