/* メニュー全体 */
.side-bar{
    width: 20%;
    min-width: 160px;
    }
    .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    }
    
    /* 親メニュー */
    .group-menu {
    margin-bottom: 5px;
    }
    
    /* 親メニューと子メニューのスタイル */
    .menu-item, .child-menu li {
    background-color: green;
    color: white;
    padding: 10px;
    cursor: pointer;
    }
    
    /* 子メニューのスタイル */
    .child-menu {
    background-color: white;
    border: 1px solid black;
    list-style: none;
    margin: 0;
    padding: 0;
    }
    
    /* 子メニューの項目にマウスが乗った時のスタイル */
    .child-menu li:hover {
    background-color: lightgray;
    }