/* クライアント選択用CSS */
#client-buttons {
    display: flex;
    flex-wrap: wrap; /* 改行するようにする */
    margin:10px 0px;
  }
  
  #client-buttons button {
    font-weight: bold;
    line-height: 1.5;
    margin: 8px 10px 8px 0px;
    padding: 6px 14px;
    border-radius: 5px;
    border: none;
    background-color: #e0e0e0;
    flex: 1; /* 幅を均等にする */
    max-width: calc(100% - 20px); /* 最大幅を指定 */
    white-space: nowrap; /* 改行しないようにする */
  }
  
  #client-buttons button:last-child {
    margin-right: 0;
  }
  
  #client-buttons button.active {
    background-color: #555555;
    color: #ffffff;
  }


/* テーブルレイアウト調整用CSS */
table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
  }
  
  th,
  td {
    padding: 5px 8px;
    border: 1px solid #ccc;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #f2f2f2;
  }

  /* 6列目を非表示 */
td:nth-child(6), th:nth-child(6) {
  display: none;
}




  /* ここからレスポンシブ対応よう */
@media screen and (max-width: 680px) {
  table {
    display: block;
  }
  th{
    display: none;
  }

  tr {
    display: flex;
    flex-wrap:wrap ;
    vertical-align: top;
    width: 100%;
  }
  td {
    display: inline-block;
    text-align: left;
  }

  td:nth-child(1),td:nth-child(5)  {
    width: 100%;
  }
  td:nth-child(2),td:nth-child(3),td:nth-child(4) {
    width: calc(20% - 18px);
  }
  td:nth-child(7) {
    width: calc(40% - 18px);
  }
  table td:nth-child(5) {
    order: 6;
  }
  td:nth-child(1){
    font-weight: bold;
    background-color: #e0e0e0;
  }

  td:before {
    float: left;
    font-weight: bold;
    margin-right: 10px;
    text-transform: capitalize;
  }
  table td:nth-child(1):before {
    content: "内容";
  }
  
  table td:nth-child(2):before {
    content: "見";
  }
  
  table td:nth-child(3):before {
    content: "工";
  }
  
  table td:nth-child(4):before {
    content: "進";
  }
  
  table td:nth-child(5):before {
    content: "詳細";
  }
  
  table td:nth-child(7):before {
    content: "発";
  }
}