/* ヘッダーの設定 */
.super-navbar__logo-image{
  align-items:center;

}

.super-navbar__logo{
  width: calc(100% - 40px);
  overflow: hidden;
}

#pc_logo{
  display: inline-block;
}
#sp_logo{
  display: none;
}
@media (max-width: 680px) {
  #pc_logo{
    display: none;
  }
  #sp_logo{
    display:inline-block;
  }
}

.super-navbar h1{
  margin:0; font-size:18px; font-weight:500; display:inline-block;
}




/* メインバーの設定 ーーーーーーーーーーーーーーーーーーーー*/
.content-area {
  display: flex;
  overflow: visible;
  position: relative;
  justify-content:space-evenly
}
.side-bar{
  position: sticky;
  top: 50px;
  z-index: 1000;
  height: 60vh; 
}
.modal {
  z-index: 2000;
}

/* 横幅の設定 ーーーーーーーーーーーーーーーーーー*/
.side-bar {
  width: 240px;
  display: inline-block;
  padding: 35px 15px;
}
.main-bar {
  width: calc(100% - 240px);
  max-width:1100px;
  display: inline-block;
  padding: 15px;
}
@media (max-width: 680px) {
  .side-bar{
    display: none;
  }
  .main-bar{
    width: 100%;
    padding:10px;
    margin: 0;
  }
}

/* サイドバーの設定 ーーーーーーーーーーーーーーーーーー*/
.menu, .menu h1{
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size:18px;
}
  
/* 親メニュー */
.group-menu ,.single-menu{
margin-bottom: 5px;
}

.group-menu .menu-item::after{
  content:"▼";
  padding-left:15px;
}
  
  /* 親メニューと子メニューのスタイル */
  .menu-item, .child-menu li {
  background-color: #17837C;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  }


  .child-menu li {
  background-color: white;
  color: black;
  padding:5px 5px;
  font-size:16px;
  }
  
  
  /* 子メニューのスタイル */
  .child-menu {
  background-color: glay;
  border: 1px solid black;
  list-style: none;
  margin: 0;
  padding: 0;
  display:none;
  }

  .child-menu li::before{
      content:"・";
  }
  
  /* 子メニューの項目にマウスが乗った時のスタイル */
  .child-menu li:hover {
  background-color: lightgray;
  }


/*マージン解除*/
.super-navbar{
margin-bottom:0;
}



/* サイドバーの設定用＾＾＾＾＾＾＾＾＾＾＾＾＾＾＾＾＾＾＾＾＾＾＾ */
.super-navbar.minimal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.super-navbar__actions {
  display: block;
}



/* Default styles */
.content-area {
  display: flex;
}

.side-bar {
  width: auto;
  height: 60vh;
  top: 0;
  display: block;
  background-color: initial;
}

#hamburger-menu {
  display: none;
  cursor: pointer;
}

/* Styles for screen size 680px or less */
@media screen and (max-width: 680px) {
  .content-area {
    display: block;
  }

  .side-bar {
    width: 100%;
    height: auto;
    top: 50px;
    display: none;
    background-color: white;
  }
  #hamburger-menu {
    display: inline-block;
  }
}


/* ページガイドのデザイン */
.page-guide-wrapper{
  margin:20px 0px;
  background-color:#EDF6F5;
  position:relative;
}

.page-guide-wrapper::before{
  content:"📗 ページ説明";
  font-weight:bold;
  font-size:18px;
  color:#555;
  position:absolute;
  top: 10px;
  left:15px
}

.page-guide-wrapper p{
  padding:20px 15px 0px 15px
}