/* メインバーの設定 ーーーーーーーーーーーーーーーーーーーー*/
.content-area {
  display: flex;
  overflow: visible;
  position: relative;
}
.side-bar{
  position: sticky;
  padding-top: 30px;
  top: 50px;
  z-index: 1000;
  height: 60vh;
}
.modal {
  z-index: 2000;
}

/* 横幅の設定 ーーーーーーーーーーーーーーーーーー*/
.side-bar {
  width: 210px;
  display: inline-block;
  padding: 15px;
}
.main-bar {
  width: calc(100% - 210px);
  display: inline-block;
  padding: 15px;
  margin-left: 15px;
}
@media (max-width: 680px) {
  .side-bar{
    display: none;
  }
  .main-bar{
    display: 100%;
    padding:10px;
    margin: 0;
  }
}












.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
  
  /* 親メニュー */
  .group-menu {
  margin-bottom: 5px;
  }
  
  /* 親メニューと子メニューのスタイル */
  .menu-item, .child-menu li {
  background-color: green;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  }

  .group-menu:not(:first-child) > .menu-item:after {
    content: "⏬";
    margin-left: 5px;
        float: right;
  }

  .child-menu li {
  background-color: white;
  color: black;
  padding:5px 5px;
  }
  
  
  /* 子メニューのスタイル */
  .child-menu {
  background-color: glay;
  border: 1px solid black;
  list-style: none;
  margin: 0;
  padding: 0;
  display:none;
  }
  .child-menu li::before{
      content:"・";
  }
  
  /* 子メニューの項目にマウスが乗った時のスタイル */
  .child-menu li:hover {
  background-color: lightgray;
  }


/*マージン解除*/
.super-navbar{
margin-bottom:0;
}