/* カラー定義 */
:root {
  --green-base: #17837C;
  --green-darker: #218838;
  --green-lighter: #34c057;
}

/* ポップアップスタイルーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  min-width: 320px;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* フォームーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.form-container {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background-color: #eee;
  padding: 12px 20px;
  border: 2px solid #aaa;
}
.form-container > .form-row {
  display: flex;
  align-items: center;
  padding: 8px;
  margin-bottom: 10px;
}
.form-container .form-inline {
  display: flex;
  align-items: center;
  gap: 8px;
}
.form-container label {
  flex-shrink: 0;
  width: 120px;
}
.form-container .form-inline label {
  width: 30px;
}
.form-container textarea {
  width: 100%;
  height: 55px;
  resize: vertical;
}
.form-container .buttons {
  display: flex;
  gap: 8px;
}

/* 追加デザイン */
.form-container h4 {
  margin: 0;
  margin-bottom: 4px;
  padding-left: 10px;
  width:100%;
}
.form-container h3 {
  margin: 0;
  margin-bottom: 8px;
}
.form-container ul,
.form-container .form-content {
  border-radius: 4px;
  padding: 8px 10px;
  background-color: white;
  margin-bottom: 10px;
}
.form-container ul {
  list-style-type: none;
  padding-left: 0;
  display:flex;
  flex-wrap:wrap;
}
.form-container ul li {
  padding-left: 10px;
}

.form-container ul li:last-child {
  width:100%;
}

.form-container .hosoku {
  width:calc(100% - 180px);
  
}
.form-container.buttons {
  width:180px;
}



.form-container .buttons button {
  background-color: var(--green-base);
  border: none;
  color: white;
  width:160px;
  padding: 8px 16px;
  margin: 4px 2px;
  margin-top:23px;
  margin-left:10px;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.form-container .buttons button:hover {
  background-color: var(--green-darker);
}
.form-container .buttons button:focus {
  background-color: var(--green-lighter);
  outline: none;
}
