@charset "UTF-8";
/* テーブルレイアウト調整用CSS */
.table-wrapper {
  overflow-x: auto;
}
.table-wrapper table {
  border-collapse: collapse;
  width: 100%;
  min-width: 800px;
  font-size: 14px;
  line-height: 1.3;
  color: #333;
  overflow-x: auto;
}
.table-wrapper tr:first-child {
  background-color: #f2f2f2;
  font-weight: bold;
}
.table-wrapper th, .table-wrapper td {
  padding: 5px 8px;
  border: 1px solid #ccc;
  text-align: center;
}
.table-wrapper tr:nth-child(even) {
  background-color: #f9f9f9;
}
@media (max-width: 680px) {
  .table-wrapper table {
    min-width: auto;
  }
  .table-wrapper tr:first-child {
    display: none;
  }
  .table-wrapper tr {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    margin-bottom: 10px;
  }
  .table-wrapper td {
    border: none;
  }
}
.table-wrapper button {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 2px 8px;
  font-size: 14px;
}

/* 依頼ボタン */
.request, .submit, .change, .answer {
  border: 1px solid #17837C;
  background-color: #fff;
  color: #17837C;
  cursor: pointer;
}

.request.noticed, .submit.noticed, .change.noticed, .answer.noticed {
  border: none;
  background-color: #17837C;
  color: #fff;
  cursor: pointer;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーー */
#work-table th:nth-child(1), #kintai-table th:nth-child(1) {
  width: 90px;
}
#work-table th:nth-child(2), #kintai-table th:nth-child(2) {
  width: 105px;
}
#work-table th:nth-child(3), #kintai-table th:nth-child(3) {
  width: 105px;
}
#work-table th:nth-child(4), #kintai-table th:nth-child(4) {
  width: 105px;
}
#work-table th:nth-child(5), #kintai-table th:nth-child(5) {
  width: 75px;
}
#work-table th:nth-child(6), #kintai-table th:nth-child(6) {
  width: calc(100% - 480px);
}
#work-table th:nth-child(6), #work-table td:nth-child(6), #kintai-table th:nth-child(6), #kintai-table td:nth-child(6) {
  text-align: left;
}
@media (max-width: 680px) {
  #work-table tbody td:nth-child(1), #kintai-table tbody td:nth-child(1) {
    width: 120px;
    background-color: #19837C;
    color: white;
  }
  #work-table tbody td:nth-child(2), #kintai-table tbody td:nth-child(2) {
    width: calc(100% - 120px);
    font-weight: bold;
  }
  #work-table tbody td:nth-child(2)::before, #kintai-table tbody td:nth-child(2)::before {
    content: "ｽﾃｰﾀｽ：";
    padding-right: 5px;
    padding-left: 15px;
  }
  #work-table tbody td:nth-child(3), #kintai-table tbody td:nth-child(3) {
    width: 100%;
    text-align: left;
  }
  #work-table tbody td:nth-child(4), #kintai-table tbody td:nth-child(4) {
    width: 185px;
    text-align: left;
    font-weight: bold;
  }
  #work-table tbody td:nth-child(4)::before, #kintai-table tbody td:nth-child(4)::before {
    content: "勤務時間：";
    padding-right: 5px;
  }
  #work-table tbody td:nth-child(5), #kintai-table tbody td:nth-child(5) {
    width: calc(100% - 185px);
    text-align: left;
    font-weight: bold;
  }
  #work-table tbody td:nth-child(5)::before, #kintai-table tbody td:nth-child(5)::before {
    content: "休憩：";
    padding-right: 5px;
  }
  #work-table tbody td:nth-child(6)::before, #kintai-table tbody td:nth-child(6)::before {
    content: "備考・補足：";
    display: block;
    padding-right: 5px;
  }
  #work-table tbody td:nth-child(6), #kintai-table tbody td:nth-child(6) {
    width: 100%;
  }
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーー */
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーー */
#schedule-table th:nth-child(1) {
  width: 90px;
}
#schedule-table th:nth-child(2) {
  width: 95px;
}
#schedule-table th:nth-child(3) {
  width: 105px;
}
#schedule-table th:nth-child(4) {
  width: calc(100% - 415px);
}
#schedule-table th:nth-child(5) {
  width: 125px;
}
#schedule-table th:nth-child(4), #schedule-table td:nth-child(4) {
  text-align: left;
}
@media (max-width: 680px) {
  #schedule-table tbody td:nth-child(1) {
    width: 120px;
    background-color: #19837C;
    color: white;
  }
  #schedule-table tbody td:nth-child(2) {
    width: calc(100% - 120px);
    text-align: left;
  }
  #schedule-table tbody td:nth-child(2)::before {
    content: "勤務可否：";
    padding-right: 5px;
  }
  #schedule-table tbody td:nth-child(3) {
    width: 100%;
    text-align: left;
    font-weight: bold;
  }
  #schedule-table tbody td:nth-child(3)::before {
    content: "勤務可能時間：";
    padding-right: 5px;
  }
  #schedule-table tbody td:nth-child(4) {
    width: 100%;
  }
  #schedule-table tbody td:nth-child(4)::before {
    content: "備考・補足：";
    display: block;
    padding-right: 5px;
  }
  #schedule-table tbody td:nth-child(5) {
    width: 100%;
  }
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーー */
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーー */
#shift-table th:nth-child(1) {
  width: 90px;
}
#shift-table th:nth-child(2) {
  width: 105px;
}
#shift-table th:nth-child(3) {
  width: 105px;
}
#shift-table th:nth-child(4) {
  width: 75px;
}
#shift-table th:nth-child(5) {
  width: calc(100% - 505px);
}
#shift-table th:nth-child(6) {
  width: 130px;
}
#shift-table th:nth-child(5), #shift-table td:nth-child(5) {
  text-align: left;
}
@media (max-width: 680px) {
  #shift-table tbody td:nth-child(1) {
    width: 120px;
    background-color: #19837C;
    color: white;
  }
  #shift-table tbody td:nth-child(2) {
    width: calc(100% - 120px);
  }
  #shift-table tbody td:nth-child(2)::before {
    content: "講師回答：";
    padding-right: 5px;
  }
  #shift-table tbody td:nth-child(3) {
    width: 200px;
    text-align: left;
    font-weight: bold;
  }
  #shift-table tbody td:nth-child(3)::before {
    content: "勤務時間：";
    padding-right: 5px;
  }
  #shift-table tbody td:nth-child(4) {
    width: calc(100% - 200px);
    text-align: left;
    font-weight: bold;
  }
  #shift-table tbody td:nth-child(4)::before {
    content: "休憩：";
    padding-right: 5px;
  }
  #shift-table tbody td:nth-child(5) {
    width: 100%;
  }
  #shift-table tbody td:nth-child(6) {
    width: 100%;
  }
  #shift-table tbody td:nth-child(5)::before {
    content: "備考・補足：";
    display: block;
    padding-right: 5px;
  }
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーー */
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーー */
#shift-table-top th:nth-child(1) {
  width: 90px;
}
#shift-table-top th:nth-child(2) {
  width: 105px;
}
#shift-table-top th:nth-child(3) {
  width: 105px;
}
#shift-table-top th:nth-child(4) {
  width: 105px;
}
#shift-table-top th:nth-child(5) {
  width: 75px;
}
#shift-table-top th:nth-child(6) {
  width: calc(100% - 505px);
}
#shift-table-top th:nth-child(7) {
  width: 130px;
}
#shift-table-top th:nth-child(6), #shift-table-top td:nth-child(6) {
  text-align: left;
}
@media (max-width: 680px) {
  #shift-table-top tbody td:nth-child(1) {
    width: 120px;
    background-color: #19837C;
    color: white;
  }
  #shift-table-top tbody td:nth-child(2) {
    width: calc(100% - 120px);
  }
  #shift-table-top tbody td:nth-child(2)::before {
    content: "講師回答：";
    padding-right: 5px;
  }
  #shift-table-top tbody td:nth-child(3) {
    width: 100%;
    text-align: left;
    font-weight: bold;
  }
  #shift-table-top tbody td:nth-child(4) {
    width: 200px;
    text-align: left;
    font-weight: bold;
  }
  #shift-table-top tbody td:nth-child(4)::before {
    content: "勤務時間：";
    padding-right: 5px;
  }
  #shift-table-top tbody td:nth-child(5) {
    width: calc(100% - 200px);
    text-align: left;
    font-weight: bold;
  }
  #shift-table-top tbody td:nth-child(5)::before {
    content: "休憩：";
    padding-right: 5px;
  }
  #shift-table-top tbody td:nth-child(6) {
    width: 100%;
  }
  #shift-table-top tbody td:nth-child(6)::before {
    content: "備考・補足：";
    display: block;
    padding-right: 5px;
  }
  #shift-table-top tbody td:nth-child(7) {
    width: 100%;
  }
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.profile-tables, .profile-block{
  display:flex;
  flex-wrap:wrap;
  gap:0px 20px;
    flex-grow: 1;
}

.profile-block {
  gap:15px 20px;
}

.profile-tables h2{
  width: 100%; 
}

.profile-tables table {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
  line-height: 1.3;
  color: #333;
  overflow-x: auto;
}


.profile-inline{
  display:inline-block;
  flex-grow: 1;
}

.profile-tables th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.profile-tables th, .profile-tables td {
  padding: 5px 8px;
  border: 1px solid #ccc;
  text-align: center;
  min-width: 60px;
}

.profile-block2 table{
  position:relative;
  margin-bottom:45px;
}
.profile-block2 tr{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  gap:50px 0px;
}
.profile-block2 tr:nth-child(2){
  position:absolute;
  top:30px;
}

.profile-block2 td, .profile-block2 th{
  border-right:none;
}
.profile-block2 td:last-child, .profile-block2 th:last-child{
  border: 1px solid #ccc;
}
.profile-block2 td{
  border-top:none;
}

.profile-block2 th:nth-child(5), .profile-block2 td:nth-child(5),
.profile-block2 th:nth-child(6), .profile-block2 td:nth-child(6),
.profile-block2 th:nth-child(7), .profile-block2 td:nth-child(7),
.profile-block2 th:nth-child(8), .profile-block2 td:nth-child(8)
{ width:60px; flex-grow: 1;max-width:80px;}

.profile-block2 th:nth-child(2), .profile-block2 td:nth-child(2),
.profile-block2 th:nth-child(9), .profile-block2 td:nth-child(9),
.profile-block2 th:nth-child(10), .profile-block2 td:nth-child(10),
.profile-block2 th:nth-child(13), .profile-block2 td:nth-child(13),
.profile-block2 th:nth-child(14), .profile-block2 td:nth-child(14)
{ width:70px; flex-grow: 1;max-width:90px;}

.profile-block2 th:nth-child(3), .profile-block2 td:nth-child(3),
.profile-block2 th:nth-child(4), .profile-block2 td:nth-child(4)
{ width:80px; flex-grow: 1;max-width:100px;}


.profile-block2 th:nth-child(1), .profile-block2 td:nth-child(1),
.profile-block2 th:nth-child(11), .profile-block2 td:nth-child(11)
{ width:90px; flex-grow: 1;max-width:110px;}

.profile-textblock td{
  text-align:left;
}