
.chat-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #1B7871;
    color: white;
    padding: 0.5em;
    gap: 0.5em;
}

.chat-title {
    flex: 1 0 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.reload-time, .reload-button {
    white-space: nowrap;
}

.reload-button {
    background-color: white;
    color: #1B7871;
    padding: 3px 10px;
    border-radius: 10px;
}

.chat-log-area {
    padding:15px 0 ; 
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    min-height: 500px;
}

.chat-log {
    margin: 10px 15px;
    display: flex;
    gap:10px;
}
.chat-log.sent {
    flex-direction: row-reverse;
}


.chat-box {
    display: inline-block;
    padding:5px 15px;
    max-width: 400px;
    color: #1B7871;
}

.sent .chat-box {
    background-color: #DFF4F0;
}

.received .chat-box {
    background-color: white;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    width: 60px;
    color: #B9B9B9;
}

.chat-submit-area{
    background-color:#E9EAF2;
    padding:10px 15px;
    display:flex;
}

#chatForm{
    display:flex;
}

#メッセージ-wrapper{
    flex: 1 0 auto;
    white-space: nowrap;
}
#メッセージ-wrapper textarea{
    width:100%;
    font-size:16px;
}


/* 日付変更線 */
.day-line {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
  }
  
  .day-line hr {
    flex-grow: 1;
    border: none;
    height: 1px;
    background: #000;
  }
  
  .date-text {
    padding: 0 10px;
  }