/* テーブルレイアウト調整用CSS */
.table-wrapper {
  overflow-x: auto;
  table {border-collapse: collapse; width: 100%; min-width: 800px; font-size: 14px; line-height: 1.3; color: #333; overflow-x: auto;}
  tr:first-child { background-color: #f2f2f2; font-weight: bold; }
  th, td { padding: 5px 8px; border: 1px solid #ccc; text-align: center; }
  tr:nth-child(even) { background-color: #f9f9f9; }
  // tr:hover { background-color: #f2f2f2; }

  @media (max-width: 680px) {
    table { min-width: auto; }
    tr:first-child { display: none; }
    tr { display: flex; flex-wrap: wrap; border: 1px solid black; margin-bottom: 10px; }
    td { border: none; }
  }

  button { width: 100%; display: inline-block; box-sizing: border-box; border-radius: 4px; padding: 2px 8px; font-size: 14px; }
}

  /* 依頼ボタン */
  .request, .submit,.change,.answer {
    border: 1px solid #17837C;
    background-color: #fff;
    color: #17837C;
    cursor: pointer;
  }
  
  .request.noticed,.submit.noticed,.change.noticed,.answer.noticed {
    border: none;
    background-color: #17837C;
    color: #fff;
    cursor: pointer;
  } 








/* ーーーーーーーーーーーーーーーーーーーーーーーーーーー */
#worktable {
  & th:nth-child(1) { width: 90px; }
  & th:nth-child(2) { width: 105px; }
  & th:nth-child(3) { width: 105px; }
  & th:nth-child(4) { width: 105px; }
  & th:nth-child(5) { width: 75px; }
  & th:nth-child(6) { width: calc(100% - 480px); }
  
  & th:nth-child(6), & td:nth-child(6) { text-align: left; }

  @media (max-width: 680px) {
    & tbody td:nth-child(1) { width: 120px; background-color: #19837C; color: white; }
    & tbody td:nth-child(2) { width: calc(100% - 120px); }
    & tbody td:nth-child(2)::before { content: "ステータス："; padding-right: 5px; }
    & tbody td:nth-child(3) { width: 100%; text-align: left; font-weight: bold; }
    & tbody td:nth-child(3)::before { content: "教室："; padding-right: 5px; }
    & tbody td:nth-child(4) { width: 200px; text-align: left; font-weight: bold; }
    & tbody td:nth-child(4)::before { content: "勤務可能時間："; padding-right: 5px; }
    & tbody td:nth-child(5) { width: calc(100% - 200px); text-align: left; font-weight: bold; }
    & tbody td:nth-child(4)::before { content: "休憩時間："; padding-right: 5px; }
    & tbody td:nth-child(6)::before { content: "備考・補足："; display: block; padding-right: 5px; }
    & tbody td:nth-child(6) { width: 100%; }
  }
}
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーー */


  
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーー */
#schedule-table {
  & th:nth-child(1) { width: 90px; }
  & th:nth-child(2) { width: 95px; }
  & th:nth-child(3) { width: 105px; }
  & th:nth-child(4) { width: calc(100% - 415px); }
  & th:nth-child(5) { width: 125px; }

  & th:nth-child(4), & td:nth-child(4) { text-align: left; }

  @media (max-width: 680px) {
    & tbody td:nth-child(1) { width: 120px; background-color: #19837C; color: white; }
    & tbody td:nth-child(2) { width: calc(100% - 120px); }
    & tbody td:nth-child(2)::before { content: "勤務可否："; padding-right: 5px; }
    & tbody td:nth-child(3) { width: 100%; text-align: left; font-weight: bold; }
    & tbody td:nth-child(3)::before { content: "勤務可能時間："; padding-right: 5px; }
    & tbody td:nth-child(4) { width: 100%; }
    & tbody td:nth-child(4)::before { content: "備考・補足："; display: block; padding-right: 5px; }
    & tbody td:nth-child(5) { width: 100%; }
  }
}
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーー */


/* ーーーーーーーーーーーーーーーーーーーーーーーーーーー */
#shift-table {
  & th:nth-child(1) { width: 90px; }
  & th:nth-child(2) { width: 105px; }
  & th:nth-child(3) { width: 105px; }
  & th:nth-child(4) { width: 75px; }
  & th:nth-child(5) { width: calc(100% - 500px); }
  & th:nth-child(6) { width: 125px; }

  & th:nth-child(5), & td:nth-child(5) { text-align: left; }

  @media (max-width: 680px) {
    & tbody td:nth-child(1) { width: 120px; background-color: #19837C; color: white; }
    & tbody td:nth-child(2) { width: calc(100% - 120px); }
    & tbody td:nth-child(2)::before { content: "講師回答："; padding-right: 5px; }
    & tbody td:nth-child(3) { width: 200px; text-align: left; font-weight: bold; }
    & tbody td:nth-child(3)::before { content: "勤務時間："; padding-right: 5px; }
    & tbody td:nth-child(4) { width: calc(100% - 200px); text-align: left; font-weight: bold;}
    & tbody td:nth-child(4)::before { content: "休憩："; padding-right: 5px; }
    & tbody td:nth-child(5) { width: 100%; }
    & tbody td:nth-child(6) { width: 100%; }
    & tbody td:nth-child(5)::before { content: "備考・補足："; display: block; padding-right: 5px;}
  }
}
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーー */
  

  