/* テーブルレイアウト調整用CSS */
table {
    border-collapse: collapse;
    width: 100%;
    min-width: 800px;
    font-size: 14px;
    line-height: 1.3;
    color: #333;
    overflow-x: auto;
  }

.table-wrapper {
  overflow-x: auto;
}
  
  
  th,
  td {
    padding: 5px 8px;
    border: 1px solid #ccc;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #f2f2f2;
  }


  button {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 2px 8px;
    font-size: 14px;
  }

  @media (max-width: 680px) {
    .table-wrapper tbody tr {
      display: flex;
      flex-wrap: wrap;
      margin-bottom:5px;
    }

    .table-wrapper table {
      min-width: auto;
    }

    .table-wrapper tbody tr:first-child {
      display:none;
    }
    
    .table-wrapper {
      border-collapse: collapse;
    }
    
    .table-wrapper tr {
      border: 1px solid black; /* 枠線の太さ・色を調整 */
    }
    
    .table-wrapper td {
      border: none; /* td要素の枠線を削除 */
    }
  }
  
  /* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

  #schedule-table th:nth-child(1) {
    width: 90px;
  }
  #schedule-table th:nth-child(2) {
    width: 95px;
  }
  #schedule-table th:nth-child(3) {
    width: 105px;
  }
  #schedule-table th:nth-child(4) {
    width: calc(100% - 415px);
  }
  #schedule-table th:nth-child(5) {
    width: 125px;
  }

  #schedule-table th, #schedule-table td{
    text-align: center;
  }
  #schedule-table th:nth-child(4),
  #schedule-table td:nth-child(4) {
    text-align:left ;
  }

  @media (max-width: 680px) {
    /* ーーーーーーーーーーーーーーーーーーーーーーーーーーー */
    #schedule-table tbody td:nth-child(1) {
      width: 120px;
      background-color:#19837C;
      color:white
    }
    #schedule-table tbody td:nth-child(2) {
      width: calc(100% - 120px);
    }
    #schedule-table tbody td:nth-child(2)::before {
      content: "勤務可否：";
      padding-right:5px;
    }
    /* ーーーーーーーーーーーーーーーーーーーーーーーーーーー */
    #schedule-table tbody td:nth-child(3) {
      width: 100%;
      text-align:left;
      font-weight:bold;
    }
    #schedule-table tbody td:nth-child(3)::before {
      content: "勤務可能時間：";
      padding-right:5px;
    }
    /* ーーーーーーーーーーーーーーーーーーーーーーーーーーー */
    #schedule-table tbody td:nth-child(4) {
      width: 100%;
    }
    #schedule-table tbody td:nth-child(4)::before {
      content: "備考・補足：";
      display:block;
      padding-right:5px;
    }
    #schedule-table tbody td:nth-child(5) {
      width: 100%;
    }
  }
  /* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */





/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
#shift-table {
    & th:nth-child(1) { width: 90px; }
    & th:nth-child(2) { width: 105px; }
    & th:nth-child(3) { width: 105px; }
    & th:nth-child(4) { width: 75px; }
    & th:nth-child(5) { width: calc(100% - 500px); }
    & th:nth-child(6) { width: 125px; }
  
    & th, & td { text-align: center; }
    & th:nth-child(5), & td:nth-child(5) { text-align: left; }
  
    @media (max-width: 680px) {
      /* ーーーーーーーーーーーーーーーーーーーーーーーーーーー */
      & tbody td:nth-child(1) {
        width: 120px;
        background-color: #19837C;
        color: white;
      }
      & tbody td:nth-child(2) {
        width: calc(100% - 120px);
        &::before {
          content: "講師回答：";
          padding-right: 5px;
        }
      }
      /* ーーーーーーーーーーーーーーーーーーーーーーーーーーー */
      & tbody td:nth-child(3) {
        width: 200px;
        text-align: left;
        font-weight: bold;
        &::before {
          content: "勤務時間：";
          padding-right: 5px;
        }
      }
      & tbody td:nth-child(4) {
        width: calc(100% - 200px);
        text-align: left;
        font-weight: bold;
        &::before {
          content: "休憩：";
          padding-right: 5px;
        }
      }
      /* ーーーーーーーーーーーーーーーーーーーーーーーーーーー */
      & tbody td:nth-child(5) { width: 100%; }
      & tbody td:nth-child(6) { width: 100%; }
      & tbody td:nth-child(5)::before {
        content: "備考・補足：";
        display: block;
        padding-right: 5px;
      }
    }
  }
  /* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
  


  /* 依頼ボタン */
  .request, .submit,.change,.answer {
    border: 1px solid #17837C;
    background-color: #fff;
    color: #17837C;
    cursor: pointer;
  }
  
  
  .request.noticed,.submit.noticed,.change.noticed,.answer.noticed {
    border: none;
    background-color: #17837C;
    color: #fff;
    cursor: pointer;
  } 
  
  .test{
    color: red;
  }
